########################################
# Terraform
########################################
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

########################################
# Terraform variable backups
########################################
*.tfvars.backup

########################################
# SSH Keys (CRITICAL)
########################################
keys/*
!keys/*.pub

########################################
# OS / Editor Noise
########################################
.DS_Store
Thumbs.db
.vscode/
.idea/

########################################
# Logs
########################################
*.log

